<body >
    <!-- Content Wrapper. Contains page content -->
    <!-- <div class="content-wrapper"> -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Usuarios
            <small>Vista</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Usuarios</li>
          </ol>
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Filtro de Usuarios</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fa fa-times"></i></button>
                  </div>

                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-2">
                        <label for="exampleInputEmail1" class="col-md-4 control-label">Usuario: </label>
                      </div>
                      <div class="col-md-10">
  
                        <div class="input-group">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-danger">Buscar</button>
                          </div>
                          <!-- /btn-group -->
                          <input type="text" class="form-control " style="width:50%">
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-xs-12">
                      
                        <div class="modal-footer pull-left">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
                            Nuevo Usuario
                          </button>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
                
                <!-- /.box-footer-->

              </div>
                
                <!-- /.box-header -->
                <!-- form start -->
                
                  <div class="box-body">
                    
                    
    
                    <div class="modal fade" id="modal-info">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Ficha Usuario</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <label for="exampleInputEmail1" class="col-md-4 control-label">Codigo: </label>
                                      <div class="col-md-8">
                                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Codigo">                        
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1" class="col-md-4 control-label">Usuario: </label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Usuario">                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1" class="col-md-4 control-label">Contraseña: </label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Contraseña">                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1" class="col-md-4 control-label">Nombre: </label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nombre">                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1" class="col-md-4 control-label">Apellidos: </label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Apellidos">                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1" class="col-md-4 control-label">Email: </label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1" class="col-md-4 control-label">Cargo: </label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cargo">                        
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
    
                  </div>
                  <!-- /.box-body -->
    
                  <!-- <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div> -->
                
              
              <!-- /.box -->
            </div>
            
          </div>
    
          <div class="row">
            <div class="col-xs-12">
              <!-- /.box -->
    
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Listado</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th class="center">
                        <label class="pos-rel">
                          <input type="checkbox" class="ace" />
                          <span class="lbl"></span>
                        </label>
                      </th>
                      <th>Código</th>
                      <th>Usuario</th>
                      <th>Nombre completo</th>
                      <th>Email</th>
                      <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th class="center">
                        <label class="pos-rel">
                          <input type="checkbox" class="ace" />
                          <span class="lbl"></span>
                        </label>
                      </th>
                      <td>1</td>
                      <td>IGONIM</td>
                      <td>Ivan Manuel Goñi Montesinos</td>
                      <td>ivan.goni@jmiconstructora.com</td>
                      <td>Activo</td>
                    </tr>
                    <tr>
                      <th class="center">
                        <label class="pos-rel">
                          <input type="checkbox" class="ace" />
                          <span class="lbl"></span>
                        </label>
                      </th>
                      <td>2</td>
                      <td>EChichin</td>
                      <td>Elias</td>
                      <td>elias@jmiconstructora.com</td>
                      <td>Activo</td>
                    </tr>
                    <tr>
                      <th class="center">
                        <label class="pos-rel">
                          <input type="checkbox" class="ace" />
                          <span class="lbl"></span>
                        </label>
                      </th>
                      <td>3</td>
                      <td>Soporte</td>
                      <td>User Soporte</td>
                      <td>soporte@jmiconstructora.com</td>
                      <td>Activo</td>
                    </tr>
                    
                    
                    </tbody>
                    <!-- <tfoot>
                    <tr>
                      <th class="center">
                        <label class="pos-rel">
                          <input type="checkbox" class="ace" />
                          <span class="lbl"></span>
                        </label>
                      </th>
                      <th>Código</th>
                      <th>Razón Social</th>
                      <th>Ruc</th>
                      <th>Nro Telefono</th>
                      <th>Email</th>
                    </tr>
                    </tfoot> -->
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      <!-- </div> -->
      <!-- <script src="../../../assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../../../assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> -->    
    </body>